.dsc-cart-count {
background-color: var(--dsc-color-bg-notification);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 20px;
    height: 20px;
    font-size: 11px;
    border-radius: 50%;
    position: relative;
    top:-10px;
    left: -10px;
}

